/_back-pulse.scss
/_bounce-to-bottom.scss
/_bounce-to-left.scss
/_bounce-to-right.scss
/_bounce-to-top.scss
/_fade.scss
/_radial-in.scss
/_radial-out.scss
/_rectangle-in.scss
/_rectangle-out.scss
/_shutter-in-horizontal.scss
/_shutter-in-vertical.scss
/_shutter-out-horizontal.scss
/_shutter-out-vertical.scss
/_sweep-to-bottom.scss
/_sweep-to-left.scss
/_sweep-to-right.scss
/_sweep-to-top.scss
