/_back-pulse.less
/_bounce-to-bottom.less
/_bounce-to-left.less
/_bounce-to-right.less
/_bounce-to-top.less
/_fade.less
/_radial-in.less
/_radial-out.less
/_rectangle-in.less
/_rectangle-out.less
/_shutter-in-horizontal.less
/_shutter-in-vertical.less
/_shutter-out-horizontal.less
/_shutter-out-vertical.less
/_sweep-to-bottom.less
/_sweep-to-left.less
/_sweep-to-right.less
/_sweep-to-top.less
