/jquery.ui.accordion.min.js
/jquery.ui.autocomplete.min.js
/jquery.ui.button.min.js
/jquery.ui.core.min.js
/jquery.ui.datepicker.min.js
/jquery.ui.dialog.min.js
/jquery.ui.mouse.min.js
/jquery.ui.position.min.js
/jquery.ui.progressbar.min.js
/jquery.ui.slider.min.js
/jquery.ui.tabs.min.js
/jquery.ui.widget.min.js
