/Alien.svg
/Batman.svg
/Boss-2.svg
/Boss-3.svg
/Boss-5.svg
/Burglar.svg
/Businesswoman-1.svg
/Chef-2.svg
/Coffin.svg
/Farmer.svg
/Furby.svg
/Hacker.svg
/Magician.svg
/Man-1.svg
/Man-14.svg
/Man-16.svg
/Man-6.svg
/Man-9-.svg
/Ninja.svg
/Nurse-1.svg
/Prisoner.svg
/Rapper-2.svg
/Rasta.svg
/Road-Worker-1.svg
/Rocker.svg
/Santa.svg
/Soldier-3.svg
/Spongebob.svg
/Student-3.svg
/Surfer.svg
/Surgeon.svg
/Telemarketer-Woman-2.svg
/Waitress-1.svg
/Woman-15.svg
/Woman-9.svg
