node_modules
bower_components
.idea/
/.gitignore
/CONTRIBUTING.md
/LICENSE.md
/ReadMe.md
/bower.json
/c3_renderers.coffee
/d3_renderers.coffee
/export_renderers.coffee
/gchart_renderers.coffee
/gulpFile.js
/package.json
/pivot.coffee
/pivot.es.coffee
/pivot.fr.coffee
/pivot.nl.coffee
/pivot.pt.coffee
/pivot.tr.coffee
/pivottable.jquery.json
