/ar-ma.js
/ar-sa.js
/ar-tn.js
/ar.js
/bg.js
/ca.js
/cs.js
/da.js
/de-at.js
/de.js
/el.js
/en-au.js
/en-ca.js
/en-gb.js
/es.js
/fa.js
/fi.js
/fr-ca.js
/fr.js
/he.js
/hi.js
/hr.js
/hu.js
/id.js
/is.js
/it.js
/ja.js
/ko.js
/lt.js
/lv.js
/nl.js
/pl.js
/pt-br.js
/pt.js
/ro.js
/ru.js
/sk.js
/sl.js
/sr-cyrl.js
/sr.js
/sv.js
/th.js
/tr.js
/uk.js
/vi.js
/zh-cn.js
/zh-tw.js
