/bg-images.js
/charts.js
/dashboard.js
/form-component.js
/form-validation.js
/form-wizard.js
/layouts.js
/mail.js
/misc-fullcalendar.js
/misc-gmaps.js
/nifty-demo.js
/nifty-demo.min.js
/tables-bs-table.js
/tables-datatables.js
/tables-footable.js
/ui-alerts.js
/ui-buttons.js
/ui-modals.js
/ui-panels.js
/widgets.js
