/class.upload.ca_CA.php
/class.upload.cs_CS.php
/class.upload.da_DK.php
/class.upload.de_DE.php
/class.upload.el_GR.php
/class.upload.es_ES.php
/class.upload.et_EE.php
/class.upload.fa_IR.php
/class.upload.fr_FR.php
/class.upload.he_IL.php
/class.upload.hr_HR.php
/class.upload.hu_HU.php
/class.upload.id_ID.php
/class.upload.it_IT.php
/class.upload.ja_JP.php
/class.upload.lt_LT.php
/class.upload.mk_MK.php
/class.upload.nl_NL.php
/class.upload.no_NO.php
/class.upload.pl_PL.php
/class.upload.pt_BR.php
/class.upload.ro_RO.php
/class.upload.ru_RU.php
/class.upload.ru_RU.windows-1251.php
/class.upload.sk_SK.php
/class.upload.sr_YU.php
/class.upload.sv_SE.php
/class.upload.tr_TR.php
/class.upload.uk_UA.php
/class.upload.uk_UA.windows-1251.php
/class.upload.vn_VN.php
/class.upload.xx_XX.php
/class.upload.zh_CN.gb-2312.php
/class.upload.zh_CN.php
/class.upload.zh_TW.php
