/c3.html
/d3.html
/fully_loaded.html
/gchart.html
/index.html
/init.js
/local.html
/montreal_2014.csv
/montreal_2014.html
/mps.csv
/mps.html
/mps.json
/mps_agg.html
/mps_csv.html
/mps_export.html
/mps_fr.html
/mps_prepop.html
/onrefresh.html
/rcsvs.html
/scatter.html
/simple.html
/simple_agg.html
/simple_function.html
/simple_ui.html
/simple_ui_from_table.html
/simple_ui_html_values.html
