/africa
/antarctica
/asia
/australasia
/backward
/etcetera
/europe
/factory
/iso3166.tab
/leapseconds
/northamerica
/pacificnew
/solar87
/solar88
/solar89
/southamerica
/systemv
/yearistype.sh
/zone.tab
